* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 0.25rem;
}

img,
td {
    vertical-align: middle;
}

th {
    padding: 0.25rem;
}

img {
    width: 3rem;
    height: 3rem;
}

img.small {
    width: 1rem;
    height: 1rem;
}

table.normal tr:nth-child(even),
table.double tr:nth-child(4n+2),
table.double tr:nth-child(4n+1) {
    background-color: #eee;
}

/* table.game-log tr,
table.game-log td {
    width: calc(25% - 20rem);
} */

table.game-log col:nth-child(1),
table.game-log col:nth-child(even) {
    width: 4rem;
}

table.bot-info-table col:nth-child(1),
table.bot-info-table col:nth-last-child(1),
table.bot-info-table col:nth-last-child(3) {
    width: 6rem;
}

.progressbar {
    display: flex;
    height: 2rem;
}

.progressbar div {
    flex-basis: 0;
    overflow: hidden;
    padding: 0.5rem 0 0.5rem 0;
    color: white;
}

.progressbar div:nth-child(1) {
    background-color: darkred;
}

.progressbar div:nth-child(2) {
    background-color: rgb(107, 107, 19);
}

.progressbar div:nth-child(3) {
    background-color: darkgreen;
}

.progressbar div:nth-child(4) {
    background-color: darkcyan;
}